* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Hanken Grotesk", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

h1 {
  font-family: "HankenGrotesk-Bold", sans-serif;
}

h2 {
  font-family: "HankenGrotesk-ExtraBold", sans-serif;
}

p {
  font-family: "HankenGrotesk-Medium", sans-serif;
}

.container {
  display: flex;
  width: 800;
  height: 600;
  background-color: white;
  border-radius: 30px;
  box-shadow: 4px 4px 30px rgba(0, 0, 255, 0.2);
}

.content-left,
.content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  width: 400px;
  height: 600px;
}

.content-left {
  align-items: center;
  background-image: linear-gradient(
    to top,
    hsl(241, 81%, 54%),
    hsl(252, 100%, 67%)
  );
  border-radius: 30px;
}

.content-left p {
  color: hsl(241, 100%, 89%);
}

.content-left h1 {
  color: hsl(241, 100%, 89%);
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.circle h2 {
  font-size: 60px;
  color: white;
}

.circle p {
  font-size: 24px;
}

.content-right {
  color: hsl(224, 30%, 27%);
}

.summary-left {
  width: 300px;
  height: 150px;
  text-align: center;
  padding: 20px;
  color: white;
}

.summary-left h3 {
  font-size: 30px;
}

.reaction-box,
.memory-box,
.verbal-box,
.visual-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
}

button {
  width: 300px;
  height: 50px;
  border-radius: 1.5rem;
  border: none;
  background-color: hsl(224, 30%, 27%);
  color: hsl(241, 100%, 89%);
  font-size: 18px;
}

button:hover {
  color: white;
  background-image: linear-gradient(
    to top,
    hsl(241, 81%, 54%),
    hsl(252, 100%, 67%)
  );
}

.reaction-box {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}

.memory-box {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
.verbal-box {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}
.visual-box {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

.box-left,
.box-right {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.score-get {
  color: hsl(224, 30%, 27%);
}

.score-full {
  color: hsla(241, 27%, 67%);
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
